label {
    display: block;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-confirmation {
    color: rgb(2, 156, 2);
    font-weight: bold;
}

.add-to-cart-btn {
    margin-top: 10px;
}

.product-quantity {
    font-size: small;
    margin: 8px;
}

.product-details {
    border: 1px solid black;
}

.product-img {
    width: 150px;
    max-height: 150px; 
    height: auto;
    margin: 10px;
}

.increment-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-summary-quantity-value {
    margin: 0px 5px;
}

.subtract-btn, .add-btn {
    margin: 0px 5px;
}

.product-price {
    margin: 5px;
    font-size: large;
}