label {
    display: block;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-confirmation {
    color: rgb(2, 156, 2);
    font-weight: bold;
}

.add-to-cart-btn {
    margin-top: 10px;
}

.product-quantity {
    font-size: small;
}

.product-details {
    border: 1px solid black;
}